<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="globle.css">
</head>

<body>
    <div class="register-container">
        <h2>Cadastro</h2>
           <!-- Exibe a mensagem de erro, se houver -->
            <% if (typeof error !== 'undefined') { %>
                <p style="color: red;"><%= error %></p>
            <% } %>

                <form action="/cadastro" method="POST">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="telefone">Telefone:</label>
                    <input type="text" id="telefone" name="telefone" required>

                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required>
                    <br>
                    <label for="confirmar-senha">Confirmar Senha:</label>
                    <input type="password" id="confirmar-senha" name="confirmarSenha" required>
                    <br>
                    <br>
                    <button type="submit">Cadastrar</button>
                    <br>
                    <a href="/login">Já têm uma conta? Faça o login</a>
                    <a href="/">Voltar</a>
                </form>
                <br>
                <p id="error-message" style="color: red;"></p>
    </div>

    <script>
document.querySelector('form').addEventListener('submit', function (event) {
        const email = document.getElementById('email').value;
        const telefone = document.getElementById('telefone').value;
        const errorMessage = document.getElementById('error-message');
        const senha = document.getElementById('senha').value;
        const confirmarSenha = document.getElementById('confirmar-senha').value;

        // Reset error message
        errorMessage.textContent = '';

        // Verificação de telefone: só aceita números
        if (!/^\d+$/.test(telefone)) {
            event.preventDefault();
            errorMessage.textContent = "O telefone deve conter apenas números.";
            return;
        }

        // Verificação de email: deve terminar com @gmail.com ou @outlook.com
        const emailPattern = /^[a-zA-Z0-9._%+-]+@(gmail\.com|outlook\.com)$/;
        if (!emailPattern.test(email)) {
            event.preventDefault();
            errorMessage.textContent = "O email deve ser um @gmail.com ou @outlook.com.";
            return;
        }

        // Verificação de senhas: deve coincidir
        if (senha !== confirmarSenha) {
            event.preventDefault();
            errorMessage.textContent = "As senhas não coincidem!";
        }
    });
    </script>
</body>

</html>