/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background: url('30-huge-maze-pacman.gif') no-repeat center center fixed;
    background-size: 98%; /* Cobre toda a tela com o GIF */
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #00ff00; /* Texto verde neon */
}

form {
    background-color: rgb(66 112 166 / 57%); /* Fundo escuro com transparência */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 255, 0, 0.3);
    width: 230px;
    margin-left: -4px;
}

form label {
    display: block;
    font-size: 14px;
    color: #a4dbff;
    margin-bottom: 5px;
}

form input[type="email"],
form input[type="password"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #0045ff;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #00ff00;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    background-color: #93d5ff;
    color: #121212;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #00cc00;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #7acbff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.forgot-password:hover {
    color:#7acbff;
    text-decoration: underline;
}




/* Estilos para a página de Esqueci a Senha ///////////////////////////////////////////////////////////////////////////////////////////////*/
.forgot-password-container {
    background-color: rgba(66, 112, 166, 0.57);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 255, 0, 0.3);
    width: 257px;
    margin: auto;
    text-align: center;
    color: #00ff00; /* Verde neon */
}

.forgot-password-container h2 {
    color: #a4dbff;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #7acbff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.back-link:hover {
    color: #00ccff;
    text-decoration: underline;
}




/* Estilos para a página de Cadastrokkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */
.register-container {
    background-color: rgba(66, 112, 166, 0.57);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 255, 0, 0.3);
    width: 300px;
    margin: auto;
    text-align: center;
    color: #00ff00; /* Verde neon */
}

.register-container h2 {
    color: #a4dbff;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #7acbff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.back-link:hover {
    color: #00ccff;
    text-decoration: underline;
}




/* Estilo específico para o link de cadastro */
.register-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #00ccff; /* Azul mais claro */
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.register-link:hover {
    color: #00a3ff; /* Tom mais claro no hover */
    text-decoration: underline;
}


/* Estilo específico para o campo de nome */
#nome {
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #0045ff;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #00ff00;
    font-size: 16px;
}




/* Estilo específico para o campo de telefone */
#telefone {
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #0045ff;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #00ff00;
    font-size: 16px;
}