<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GameGenius - Página Inicial</title>
        <link rel="icon" href="logo.png" type="image/x-icon">        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
    
    
<body>
    <header>
        <h1>🕹️ Bem-vindo ao GameGenius!</h1>
        <nav>
            <a href="/">Início</a>
            <a href="/dicas">Dicas</a>
            <a href="/reviews">Reviews</a>
            <a href="/easter-eggs">Easter Eggs</a>
        </nav>
        <div class="auth-buttons">
            <a href="/login" class="login">Login</a>
            <a href="/cadastro" class="cadastro">Cadastro</a>
        </div>
    </header>
    <main>
        <h2>Explore o mundo dos jogos!</h2>
        <p>Aqui você encontra dicas, reviews e segredos para se tornar um verdadeiro gênio dos games!</p>
        <h2>Para ler as nossa reviews e notícias clique <a href="/reviews">aqui</a></h2>
    </main>
</body>
</html>
