<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title><%= post.titulo %></title> <!-- Aqui, agora o título será preenchido com o título do post -->
</head>
<body>
    <header>
        <h1><%= post.titulo %></h1> <!-- Exibe o título do post -->
    </header>

    <main>
        <p><%= post.conteudo %></p> <!-- Exibe o conteúdo do post -->
    </main>
</body>
</html>
